* {
  font-size: 15px;
}

body {
    background-color: #282F32;
}

.form {
  width: 400px;
  margin: 0 auto;
  text-align: left;
  margin-top: 10em;
}

.form label {
  display: block;
  text-align: left;
  color: white;
  font-size: .875em;
}

label a {
  font-size: .8em;
}

.text-input{
  overflow: hidden;  
  margin-bottom: .875em;
}

input {
  outline: none;
  box-shadow: none;
  width: 100%;
  padding: 1em 0 12px;
  padding-left: 0;
  background: none;
  color: white;
  font-size: 1.2em;
  font-weight: 400;
  border: none;
  border-bottom: 1px solid #999;
}

.separator {
  margin: 1.5em 0;
  width: 100%;
  color: #68B3FF;
  display: block;
  border-style: solid;
  border-width: 2px;
}

a {
  color: #ddd;
  border: none;
  text-decoration: none;
}

a:hover {
  border-bottom: 1px dashed #ddd;
}